html, body {
  margin:0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  justify-content: center;
  text-align: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo{ 
    display: block;  
    background-color: rgb(241, 241, 241);
    color: gray.700;
}  

.container {    
    display: flex;
    justify-content: space-between; 
   
}
.anuncios{
    text-align: center; 
    display: block; 
    height: 70px;
    justify-content: center;
    align-items: center;
}

.pedidos {
    width: 20%;
    display: flex;  
}
.corte {
    width: 20%;
    display: flex;  
}
.silk {
    width: 20%;
    display: flex; 
}
.costura {
    width: 20%;
    display: flex;
}
.revisao {
    width:20%;
    display: flex;
}

.grupoPedido { 
    padding: 15px; 
    height: 50px;
    width: 20%;
}  

@keyframes animaColunas {
} 

.cabecalhoColunas{
    margin: 0;
    padding: 0;    
} 

.pedidos .info-pedidos, .info-corte, .info-silk, .info-costura, .info-revisao{ 
    height: 45px;   
    display: block; 
}
.button-pedidos, .button-corte, .button-silk, .button-costura, .button-revisao {  
    width: 100%;
    height: 25px; 
}

.button-pedidos:hover, .button-corte:hover, .button-silk:hover, .button-costura:hover, .button-revisao:hover {  
    background-color: rgb(241, 241, 241);
}
  
  
  
