html, body {
  margin:0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  justify-content: center;
  text-align: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo{ 
    display: block;  
}  

.container {    
    display: flex;
    justify-content: space-between; 
   
}
.anuncios{
    text-align: center; 
    display: block; 
    height: 70px;
}

.pedidos {
    width: 22%;
    display: flex;  
}
.corte {
    width: 60%;
    display: flex;  
}
.silk {
    width: 6%;
    display: flex; 
}
.costura {
    width: 6%;
    display: flex;
}
.revisao {
    width: 6%;
    display: flex;
}

@keyframes animaColunas {
} 

.cabecalhoColunas{
    margin: 0;
    padding: 0;
    display: block;
    height: 70px;   
} 
  
.grupoPedido { 
    padding: 15px; 
}  