html, body {
  margin:0;
  padding: 0;
  justify-content: center;
  text-align: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo{ 
    display: block;  
}  

.container {    
    display: flex;
    justify-content: space-between; 
}

.anuncios{
    text-align: center; 
    display: block; 
    height: 70px;
    justify-content: center;
    align-items: center;
}